In [523]:
import pandas as pd
import datetime

讀入期貨日成交資訊(從1998/7/21-2022/9/12)

In [524]:
data = pd.read_csv('期貨日成交資訊.csv')
data = data.drop(columns = ['期貨代碼'], axis = 1)

In [525]:
data

,日期,到期月份,開盤價,最高價,最低價,收盤價,漲跌幅,漲跌幅比例,成交量,結算價,未沖銷契約量,交易時段
0,1998-07-21,199809,8131,8131,8036,8045,0,0.00,208,8045,137,position
1,1998-07-21,199903,8242,8242,8242,8242,0,0.00,3,8242,3,position
2,1998-07-22,199809,7950,7950,7820,7870,-175,-2.18,360,7870,279,position
3,1998-07-22,199812,7910,7910,7875,7875,-291,-3.56,2,7991,2,position
4,1998-07-22,199903,8174,8174,8000,8000,-242,-2.94,5,8067,7,position
...,...,...,...,...,...,...,...,...,...,...,...,...
53119,2022-09-12,202210/202211,0,0,0,0,0,0.00,0,0,0,position
53120,2022-09-12,202210/202306,0,0,0,0,0,0.00,0,0,0,position
53121,2022-09-12,202211/202212,0,0,0,0,0,0.00,0,0,0,position
53122,2022-09-12,202212/202306,0,0,0,0,0,0.00,0,0,0,position
53123,2022-09-12,202303/202306,0,0,0,0,0,0.00,0,0,0,position

定義一個輸入年、月就能找出該月理論上的結算日日期的函數(每月的第三個星期三)

In [526]:
#找結算日期
def find_third_wen(y, m):
    if datetime.date(y,m,1).weekday() < 2: #1號禮拜三還沒過
        d = 15 + (2 - datetime.date(y,m,1).weekday())
    elif datetime.date(y,m,1).weekday() == 2:#1號就是禮拜三
        d = 15
    else:
        d = (7 - datetime.date(y,m,1).weekday()) + 17#1號禮拜三過了
    date = datetime.datetime(y, m, d)
    return date

例如2022年8月的結算日就是8/17

In [527]:
find_third_wen(2022, 8)

datetime.datetime(2022, 8, 17, 0, 0)

接著以這個函數找出所有理論上的結算日日期，並儲存在settlement_date串列

In [528]:
year = [i for i in range(1998, 2023)]
month = [i for i in range(1, 13)]
#製作結算日清單
settlement_date = []
for y in year:
    for m in month:
        if y == 1998 and m in  [1, 2, 3, 4, 5, 6, 7, 8]:#1998年8月以前不在資料範圍內
            continue
        elif y == 2022 and m in [9, 10, 11, 12]:#2022年9月以後的結算日也不在資料範圍內
            continue
        else:
            settlement = find_third_wen(y, m)
            settlement = str(settlement).split(' ')[0]
            settlement_date.append(settlement)

In [529]:
settlement_date

['1998-09-16',
 '1998-10-21',
 '1998-11-18',
 '1998-12-16',
 '1999-01-20',
 '1999-02-17',
 '1999-03-17',
 '1999-04-21',
 '1999-05-19',
 '1999-06-16',
 '1999-07-21',
 '1999-08-18',
 '1999-09-15',
 '1999-10-20',
 '1999-11-17',
 '1999-12-15',
 '2000-01-19',
 '2000-02-16',
 '2000-03-15',
 '2000-04-19',
 '2000-05-17',
 '2000-06-21',
 '2000-07-19',
 '2000-08-16',
 '2000-09-20',
 '2000-10-18',
 '2000-11-15',
 '2000-12-20',
 '2001-01-17',
 '2001-02-21',
 '2001-03-21',
 '2001-04-18',
 '2001-05-16',
 '2001-06-20',
 '2001-07-18',
 '2001-08-15',
 '2001-09-19',
 '2001-10-17',
 '2001-11-21',
 '2001-12-19',
 '2002-01-16',
 '2002-02-20',
 '2002-03-20',
 '2002-04-17',
 '2002-05-15',
 '2002-06-19',
 '2002-07-17',
 '2002-08-21',
 '2002-09-18',
 '2002-10-16',
 '2002-11-20',
 '2002-12-18',
 '2003-01-15',
 '2003-02-19',
 '2003-03-19',
 '2003-04-16',
 '2003-05-21',
 '2003-06-18',
 '2003-07-16',
 '2003-08-20',
 '2003-09-17',
 '2003-10-15',
 '2003-11-19',
 '2003-12-17',
 '2004-01-21',
 '2004-02-18',
 '2004-03-17',
 '2004-04-21',
 '2004-05-19',
 '2004-06-16',
 '2004-07-21',
 '2004-08-18',
 '2004-09-15',
 '2004-10-20',
 '2004-11-17',
 '2004-12-15',
 '2005-01-19',
 '2005-02-16',
 '2005-03-16',
 '2005-04-20',
 '2005-05-18',
 '2005-06-15',
 '2005-07-20',
 '2005-08-17',
 '2005-09-21',
 '2005-10-19',
 '2005-11-16',
 '2005-12-21',
 '2006-01-18',
 '2006-02-15',
 '2006-03-15',
 '2006-04-19',
 '2006-05-17',
 '2006-06-21',
 '2006-07-19',
 '2006-08-16',
 '2006-09-20',
 '2006-10-18',
 '2006-11-15',
 '2006-12-20',
 '2007-01-17',
 '2007-02-21',
 '2007-03-21',
 '2007-04-18',
 '2007-05-16',
 '2007-06-20',
 '2007-07-18',
 '2007-08-15',
 '2007-09-19',
 '2007-10-17',
 '2007-11-21',
 '2007-12-19',
 '2008-01-16',
 '2008-02-20',
 '2008-03-19',
 '2008-04-16',
 '2008-05-21',
 '2008-06-18',
 '2008-07-16',
 '2008-08-20',
 '2008-09-17',
 '2008-10-15',
 '2008-11-19',
 '2008-12-17',
 '2009-01-21',
 '2009-02-18',
 '2009-03-18',
 '2009-04-15',
 '2009-05-20',
 '2009-06-17',
 '2009-07-15',
 '2009-08-19',
 '2009-09-16',
 '2009-10-21',
 '2009-11-18',
 '2009-12-16',
 '2010-01-20',
 '2010-02-17',
 '2010-03-17',
 '2010-04-21',
 '2010-05-19',
 '2010-06-16',
 '2010-07-21',
 '2010-08-18',
 '2010-09-15',
 '2010-10-20',
 '2010-11-17',
 '2010-12-15',
 '2011-01-19',
 '2011-02-16',
 '2011-03-16',
 '2011-04-20',
 '2011-05-18',
 '2011-06-15',
 '2011-07-20',
 '2011-08-17',
 '2011-09-21',
 '2011-10-19',
 '2011-11-16',
 '2011-12-21',
 '2012-01-18',
 '2012-02-15',
 '2012-03-21',
 '2012-04-18',
 '2012-05-16',
 '2012-06-20',
 '2012-07-18',
 '2012-08-15',
 '2012-09-19',
 '2012-10-17',
 '2012-11-21',
 '2012-12-19',
 '2013-01-16',
 '2013-02-20',
 '2013-03-20',
 '2013-04-17',
 '2013-05-15',
 '2013-06-19',
 '2013-07-17',
 '2013-08-21',
 '2013-09-18',
 '2013-10-16',
 '2013-11-20',
 '2013-12-18',
 '2014-01-15',
 '2014-02-19',
 '2014-03-19',
 '2014-04-16',
 '2014-05-21',
 '2014-06-18',
 '2014-07-16',
 '2014-08-20',
 '2014-09-17',
 '2014-10-15',
 '2014-11-19',
 '2014-12-17',
 '2015-01-21',
 '2015-02-18',
 '2015-03-18',
 '2015-04-15',
 '2015-05-20',
 '2015-06-17',
 '2015-07-15',
 '2015-08-19',
 '2015-09-16',
 '2015-10-21',
 '2015-11-18',
 '2015-12-16',
 '2016-01-20',
 '2016-02-17',
 '2016-03-16',
 '2016-04-20',
 '2016-05-18',
 '2016-06-15',
 '2016-07-20',
 '2016-08-17',
 '2016-09-21',
 '2016-10-19',
 '2016-11-16',
 '2016-12-21',
 '2017-01-18',
 '2017-02-15',
 '2017-03-15',
 '2017-04-19',
 '2017-05-17',
 '2017-06-21',
 '2017-07-19',
 '2017-08-16',
 '2017-09-20',
 '2017-10-18',
 '2017-11-15',
 '2017-12-20',
 '2018-01-17',
 '2018-02-21',
 '2018-03-21',
 '2018-04-18',
 '2018-05-16',
 '2018-06-20',
 '2018-07-18',
 '2018-08-15',
 '2018-09-19',
 '2018-10-17',
 '2018-11-21',
 '2018-12-19',
 '2019-01-16',
 '2019-02-20',
 '2019-03-20',
 '2019-04-17',
 '2019-05-15',
 '2019-06-19',
 '2019-07-17',
 '2019-08-21',
 '2019-09-18',
 '2019-10-16',
 '2019-11-20',
 '2019-12-18',
 '2020-01-15',
 '2020-02-19',
 '2020-03-18',
 '2020-04-15',
 '2020-05-20',
 '2020-06-17',
 '2020-07-15',
 '2020-08-19',
 '2020-09-16',
 '2020-10-21',
 '2020-11-18',
 '2020-12-16',
 '2021-01-20',
 '2021-02-17',
 '2021-03-17',
 '2021-04-21',
 '2021-05-19',
 '2021-06-16',
 '2021-07-21',
 '2021-08-18',
 '2021-09-15',
 '2021-10-20',
 '2021-11-17',
 '2021-12-15',
 '2022-01-19',
 '2022-02-16',
 '2022-03-16',
 '2022-04-20',
 '2022-05-18',
 '2022-06-15',
 '2022-07-20',
 '2022-08-17']

觀察前幾筆、後幾筆資料可以發現，也許是台指期在草創時期交易量不夠大，可供交易的期貨種類少非常多，例如1998/7/21(表一)，可交易的期貨只有9月以及3月到期的期貨，也就是此時沒有8月當月的期貨可供交易，所以依照老師的轉倉邏輯，如果要轉倉的話變成要等到1998/9/16(9月的期貨結算日)的前三個交易日才轉倉

In [530]:
find_third_wen(1998, 9)

datetime.datetime(1998, 9, 16, 0, 0)

In [531]:
#表一
data.head(10)

,日期,到期月份,開盤價,最高價,最低價,收盤價,漲跌幅,漲跌幅比例,成交量,結算價,未沖銷契約量,交易時段
0,1998-07-21,199809,8131,8131,8036,8045,0,0.00,208,8045,137,position
1,1998-07-21,199903,8242,8242,8242,8242,0,0.00,3,8242,3,position
2,1998-07-22,199809,7950,7950,7820,7870,-175,-2.18,360,7870,279,position
3,1998-07-22,199812,7910,7910,7875,7875,-291,-3.56,2,7991,2,position
4,1998-07-22,199903,8174,8174,8000,8000,-242,-2.94,5,8067,7,position
5,1998-07-23,199809,7830,7859,7802,7825,-45,-0.57,190,7825,357,position
6,1998-07-23,199812,7920,7920,7920,7920,-71,-0.89,1,7946,3,position
7,1998-07-23,199903,8100,8100,8010,8010,-57,-0.71,5,8010,11,position
8,1998-07-24,199809,7750,7835,7740,7835,10,0.13,340,7835,420,position
9,1998-07-24,199810,7770,7770,7770,7770,-194,-2.44,1,7974,1,position

In [532]:
#表二
data.tail(25)

,日期,到期月份,開盤價,最高價,最低價,收盤價,漲跌幅,漲跌幅比例,成交量,結算價,未沖銷契約量,交易時段
53099,2022-09-08,202209/202303,0,0,0,0,0,0.00,0,0,0,position
53100,2022-09-08,202209/202306,0,0,0,0,0,0.00,0,0,0,position
53101,2022-09-12,202209,14775,14824,14731,14794,249,1.71,73967,14797,68152,position
53102,2022-09-12,202209,14548,14605,14449,14594,49,0.34,71801,0,0,after_market
53103,2022-09-12,202210,14752,14808,14720,14780,246,1.69,1526,14780,5942,position
53104,2022-09-12,202210,14549,14589,14440,14584,50,0.34,890,0,0,after_market
53105,2022-09-12,202211,14747,14798,14713,14768,237,1.63,206,14768,668,position
53106,2022-09-12,202211,14521,14583,14450,14577,46,0.32,86,0,0,after_market
53107,2022-09-12,202212,14728,14769,14696,14746,245,1.69,97,14746,1634,position
53108,2022-09-12,202212,14519,14536,14442,14536,35,0.24,14,0,0,after_market
53109,2022-09-12,202303,14658,14712,14647,14699,245,1.70,17,14699,804,position
53110,2022-09-12,202303,14435,14488,14400,14488,34,0.24,14,0,0,after_market
53111,2022-09-12,202306,14577,14627,14577,14613,234,1.63,24,14613,275,position
53112,2022-09-12,202306,14348,14378,14300,14337,-42,-0.29,10,0,0,after_market
53113,2022-09-12,202209/202210,-12,-12,-16,-15,0,0.00,29,0,0,position
53114,2022-09-12,202209/202210,-14,-14,-14,-14,0,0.00,12,0,0,after_market
53115,2022-09-12,202209/202211,-21,-21,-25,-25,0,0.00,63,0,0,position
53116,2022-09-12,202209/202212,-48,-48,-51,-51,0,0.00,33,0,0,position
53117,2022-09-12,202209/202303,0,0,0,0,0,0.00,0,0,0,position
53118,2022-09-12,202209/202306,0,0,0,0,0,0.00,0,0,0,position
53119,2022-09-12,202210/202211,0,0,0,0,0,0.00,0,0,0,position
53120,2022-09-12,202210/202306,0,0,0,0,0,0.00,0,0,0,position
53121,2022-09-12,202211/202212,0,0,0,0,0,0.00,0,0,0,position
53122,2022-09-12,202212/202306,0,0,0,0,0,0.00,0,0,0,position
53123,2022-09-12,202303/202306,0,0,0,0,0,0.00,0,0,0,position

從1998/7/21的資料開始往後看，可以發現因為1998/8/19就是8月期貨的結算日，所以從1998/8/20開始有當月到期的期貨可供交易(表三 編號85的欄位)，也就是說，從8/20開始才有當月到期的合約，所以看起來從1998/8/20的資料開始處理可能比較好一些

In [533]:
find_third_wen(1998, 8)

datetime.datetime(1998, 8, 19, 0, 0)

In [534]:
#表三
data[80:100]#8/20開始是九月當月

,日期,到期月份,開盤價,最高價,最低價,收盤價,漲跌幅,漲跌幅比例,成交量,結算價,未沖銷契約量,交易時段
80,1998-08-18,199812,7400,7497,7400,7483,2,0.03,4,7483,60,position
81,1998-08-18,199903,7420,7420,7405,7405,-5,-0.07,6,7412,116,position
82,1998-08-19,199809,7269,7300,7260,7285,65,0.90,543,7285,1496,position
83,1998-08-19,199812,7405,7405,7405,7405,-78,-1.04,2,7405,61,position
84,1998-08-19,199903,7449,7598,7449,7598,186,2.51,2,7598,118,position
85,1998-08-20,199809,7300,7300,7253,7274,-11,-0.15,322,7274,1577,position
86,1998-08-20,199810,7320,7320,7280,7280,-21,-0.29,6,7301,17,position
87,1998-08-20,199812,7435,7508,7427,7506,101,1.36,6,7506,60,position
88,1998-08-20,199903,7588,7588,7470,7501,-97,-1.28,4,7501,118,position
89,1998-08-21,199809,7255,7255,7220,7225,-49,-0.67,301,7225,1583,position
90,1998-08-21,199812,6981,7479,6981,7430,-76,-1.01,9,7430,64,position
91,1998-08-21,199903,7452,7452,7452,7452,-49,-0.65,1,7452,118,position
92,1998-08-24,199809,7172,7175,6955,6955,-270,-3.74,919,6955,1604,position
93,1998-08-24,199810,7100,7100,7000,7000,-281,-3.86,21,7009,34,position
94,1998-08-24,199812,7250,7289,7171,7220,-210,-2.83,9,7220,68,position
95,1998-08-24,199903,7400,7400,7290,7300,-152,-2.04,20,7300,131,position
96,1998-08-25,199809,6938,6970,6844,6949,-6,-0.09,780,6949,1628,position
97,1998-08-25,199810,6902,6930,6868,6930,-79,-1.13,23,6964,53,position
98,1998-08-25,199812,7102,7102,6953,7019,-201,-2.78,11,7001,72,position
99,1998-08-25,199903,7298,7298,7160,7210,-90,-1.23,17,7210,140,position

再來因為從2017/5/16開始有夜盤，我不確定老師希望是否有規定要在轉倉日的日盤或夜盤轉倉，所以這邊先做在日盤轉倉的版本，如果老師希望從夜盤轉倉，我可以事後再補上

In [535]:
data[data['交易時段']== 'after_market']#從2017-5-16開始有after_market時段

,日期,到期月份,開盤價,最高價,最低價,收盤價,漲跌幅,漲跌幅比例,成交量,結算價,未沖銷契約量,交易時段
29469,2017-05-16,201705,10023,10045,10020,10045,20,0.20,2587,0,0,after_market
29471,2017-05-16,201706,10015,10030,10007,10030,17,0.17,203,0,0,after_market
29473,2017-05-16,201709,9612,9631,9612,9631,16,0.17,4,0,0,after_market
29475,2017-05-16,201712,9580,9593,9580,9593,16,0.17,4,0,0,after_market
29477,2017-05-16,201803,0,0,0,0,0,0.00,0,0,0,after_market
...,...,...,...,...,...,...,...,...,...,...,...,...
53106,2022-09-12,202211,14521,14583,14450,14577,46,0.32,86,0,0,after_market
53108,2022-09-12,202212,14519,14536,14442,14536,35,0.24,14,0,0,after_market
53110,2022-09-12,202303,14435,14488,14400,14488,34,0.24,14,0,0,after_market
53112,2022-09-12,202306,14348,14378,14300,14337,-42,-0.29,10,0,0,after_market
53114,2022-09-12,202209/202210,-14,-14,-14,-14,0,0.00,12,0,0,after_market

綜合上述的情況，我就從1998/8/20開始處理、且只抓日盤資料

In [536]:
data = data[85:]#只抓1998/8/20以後的資料
#抓出所有日盤資料
day_data = data[data['交易時段']== 'position']
day_data

,日期,到期月份,開盤價,最高價,最低價,收盤價,漲跌幅,漲跌幅比例,成交量,結算價,未沖銷契約量,交易時段
85,1998-08-20,199809,7300,7300,7253,7274,-11,-0.15,322,7274,1577,position
86,1998-08-20,199810,7320,7320,7280,7280,-21,-0.29,6,7301,17,position
87,1998-08-20,199812,7435,7508,7427,7506,101,1.36,6,7506,60,position
88,1998-08-20,199903,7588,7588,7470,7501,-97,-1.28,4,7501,118,position
89,1998-08-21,199809,7255,7255,7220,7225,-49,-0.67,301,7225,1583,position
...,...,...,...,...,...,...,...,...,...,...,...,...
53119,2022-09-12,202210/202211,0,0,0,0,0,0.00,0,0,0,position
53120,2022-09-12,202210/202306,0,0,0,0,0,0.00,0,0,0,position
53121,2022-09-12,202211/202212,0,0,0,0,0,0.00,0,0,0,position
53122,2022-09-12,202212/202306,0,0,0,0,0,0.00,0,0,0,position
53123,2022-09-12,202303/202306,0,0,0,0,0,0.00,0,0,0,position

因為我們只要考慮近月及次月，所以我們只需要抓出每個交易日的前兩筆資料(因為這個資料源已經依照到期月份排序了，所以前兩筆就是近月、次月的)

In [549]:
day_data.head(20)

,日期,到期月份,開盤價,最高價,最低價,收盤價,漲跌幅,漲跌幅比例,成交量,結算價,未沖銷契約量,交易時段
85,1998-08-20,199809,7300,7300,7253,7274,-11,-0.15,322,7274,1577,position
86,1998-08-20,199810,7320,7320,7280,7280,-21,-0.29,6,7301,17,position
87,1998-08-20,199812,7435,7508,7427,7506,101,1.36,6,7506,60,position
88,1998-08-20,199903,7588,7588,7470,7501,-97,-1.28,4,7501,118,position
89,1998-08-21,199809,7255,7255,7220,7225,-49,-0.67,301,7225,1583,position
90,1998-08-21,199812,6981,7479,6981,7430,-76,-1.01,9,7430,64,position
91,1998-08-21,199903,7452,7452,7452,7452,-49,-0.65,1,7452,118,position
92,1998-08-24,199809,7172,7175,6955,6955,-270,-3.74,919,6955,1604,position
93,1998-08-24,199810,7100,7100,7000,7000,-281,-3.86,21,7009,34,position
94,1998-08-24,199812,7250,7289,7171,7220,-210,-2.83,9,7220,68,position
95,1998-08-24,199903,7400,7400,7290,7300,-152,-2.04,20,7300,131,position
96,1998-08-25,199809,6938,6970,6844,6949,-6,-0.09,780,6949,1628,position
97,1998-08-25,199810,6902,6930,6868,6930,-79,-1.13,23,6964,53,position
98,1998-08-25,199812,7102,7102,6953,7019,-201,-2.78,11,7001,72,position
99,1998-08-25,199903,7298,7298,7160,7210,-90,-1.23,17,7210,140,position
100,1998-08-26,199809,6990,7014,6790,6790,-159,-2.29,839,6790,1657,position
101,1998-08-26,199810,7000,7022,6800,6800,-164,-2.35,33,6834,76,position
102,1998-08-26,199812,7050,7060,6880,6880,-121,-1.73,25,6939,80,position
103,1998-08-26,199903,7220,7230,6950,6950,-260,-3.61,33,6950,166,position
104,1998-08-27,199809,6681,6850,6651,6835,45,0.66,1137,6835,1641,position

接下來我先抓出一個包含所有交易日的清單，方便最後依照這個清單整理出最後的時間序列

In [550]:
trading_day = []
for i in range(len(day_data)):
    if not day_data.iloc[i]['日期'] in trading_day:
        trading_day.append(day_data.iloc[i]['日期'])
    else:
        continue
trading_day = pd.DataFrame(trading_day, columns= ['交易日'])
trading_day

             交易日
0     1998-08-20
1     1998-08-21
2     1998-08-24
3     1998-08-25
4     1998-08-26
...          ...
5988  2022-09-05
5989  2022-09-06
5990  2022-09-07
5991  2022-09-08
5992  2022-09-12

[5993 rows x 1 columns]

再依據這個所有交易日的清單，從結算日回推三個交易日找出我們要轉倉的日期，同時也是檢驗我們這個理論結算日中有沒有例外機會(因為理論結算日會遇到休假順延)

In [552]:
switch_date = []
for d in settlement_date:
    try:
        s = trading_day[trading_day['交易日'] == d].index # 先找到這個日期在交易日清單中位子，再往前三格確保轉倉日都是交易日
        s = s - 3
        switch = trading_day.iloc[s].iloc[0]['交易日']
        switch_date.append(switch)
    except:
        print('settlement_date', d, 'is not in the trading_day')

發現上述有些理論上的結算日並沒有交易，我手動上網查實際的資料，結果如下:  

1999/2/17 春節連假 改為1999/2/22結算  
2004/1/21 春節連假 改為2004/1/27結算  
2007/2/21 春節連假 改為2007/2/26結算  
2010/02/17 補假    改為2010/2/22結算    
2010/06/16 端午節休市 改為2010/6/17結算   
2013/08/21 因颱風休市 改為2013/8/22結算  
2015/2/18  適逢春假時期 改為2015/2/24結算

以下重新調整結算日，從計算結算日的函數中增加例外的日期

In [540]:
def find_third_wen(y, m):
    if y == 1999 and m == 2:
        d = 22
    elif y == 2004 and m == 1:
        d = 27
    elif y == 2007 and m == 2:
        d = 26
    elif y == 2010 and m == 2:
        d = 22
    elif y == 2010 and m == 6:
        d = 17
    elif y == 2013 and m == 8:
        d = 22
    elif y == 2015 and m == 2:
        d = 24
    elif datetime.date(y,m,1).weekday() < 2: #禮拜三還沒過
        d = 15 + (2 - datetime.date(y,m,1).weekday())
    elif datetime.date(y,m,1).weekday() == 2:#1號就是禮拜三
        d = 15
    else:
        d = (7 - datetime.date(y,m,1).weekday()) + 17#禮拜三過了
    date = datetime.datetime(y, m, d)
    return date

In [541]:
year = [i for i in range(1998, 2023)]
month = [i for i in range(1, 13)]
#製作結算日清單
settlement_date = []
for y in year:
    for m in month:
        if y == 1998 and m in  [1, 2, 3, 4, 5, 6, 7, 8]:
            continue
        elif y == 2022 and m in [9, 10, 11, 12]:
            continue
        else:
            settlement = find_third_wen(y, m)
            settlement = str(settlement).split(' ')[0]
            settlement_date.append(settlement)

重新製作結算日清單

In [554]:
settlement_date

['1998-09-16',
 '1998-10-21',
 '1998-11-18',
 '1998-12-16',
 '1999-01-20',
 '1999-02-22',
 '1999-03-17',
 '1999-04-21',
 '1999-05-19',
 '1999-06-16',
 '1999-07-21',
 '1999-08-18',
 '1999-09-15',
 '1999-10-20',
 '1999-11-17',
 '1999-12-15',
 '2000-01-19',
 '2000-02-16',
 '2000-03-15',
 '2000-04-19',
 '2000-05-17',
 '2000-06-21',
 '2000-07-19',
 '2000-08-16',
 '2000-09-20',
 '2000-10-18',
 '2000-11-15',
 '2000-12-20',
 '2001-01-17',
 '2001-02-21',
 '2001-03-21',
 '2001-04-18',
 '2001-05-16',
 '2001-06-20',
 '2001-07-18',
 '2001-08-15',
 '2001-09-19',
 '2001-10-17',
 '2001-11-21',
 '2001-12-19',
 '2002-01-16',
 '2002-02-20',
 '2002-03-20',
 '2002-04-17',
 '2002-05-15',
 '2002-06-19',
 '2002-07-17',
 '2002-08-21',
 '2002-09-18',
 '2002-10-16',
 '2002-11-20',
 '2002-12-18',
 '2003-01-15',
 '2003-02-19',
 '2003-03-19',
 '2003-04-16',
 '2003-05-21',
 '2003-06-18',
 '2003-07-16',
 '2003-08-20',
 '2003-09-17',
 '2003-10-15',
 '2003-11-19',
 '2003-12-17',
 '2004-01-27',
 '2004-02-18',
 '2004-03-17',
 '2004-04-21',
 '2004-05-19',
 '2004-06-16',
 '2004-07-21',
 '2004-08-18',
 '2004-09-15',
 '2004-10-20',
 '2004-11-17',
 '2004-12-15',
 '2005-01-19',
 '2005-02-16',
 '2005-03-16',
 '2005-04-20',
 '2005-05-18',
 '2005-06-15',
 '2005-07-20',
 '2005-08-17',
 '2005-09-21',
 '2005-10-19',
 '2005-11-16',
 '2005-12-21',
 '2006-01-18',
 '2006-02-15',
 '2006-03-15',
 '2006-04-19',
 '2006-05-17',
 '2006-06-21',
 '2006-07-19',
 '2006-08-16',
 '2006-09-20',
 '2006-10-18',
 '2006-11-15',
 '2006-12-20',
 '2007-01-17',
 '2007-02-26',
 '2007-03-21',
 '2007-04-18',
 '2007-05-16',
 '2007-06-20',
 '2007-07-18',
 '2007-08-15',
 '2007-09-19',
 '2007-10-17',
 '2007-11-21',
 '2007-12-19',
 '2008-01-16',
 '2008-02-20',
 '2008-03-19',
 '2008-04-16',
 '2008-05-21',
 '2008-06-18',
 '2008-07-16',
 '2008-08-20',
 '2008-09-17',
 '2008-10-15',
 '2008-11-19',
 '2008-12-17',
 '2009-01-21',
 '2009-02-18',
 '2009-03-18',
 '2009-04-15',
 '2009-05-20',
 '2009-06-17',
 '2009-07-15',
 '2009-08-19',
 '2009-09-16',
 '2009-10-21',
 '2009-11-18',
 '2009-12-16',
 '2010-01-20',
 '2010-02-22',
 '2010-03-17',
 '2010-04-21',
 '2010-05-19',
 '2010-06-17',
 '2010-07-21',
 '2010-08-18',
 '2010-09-15',
 '2010-10-20',
 '2010-11-17',
 '2010-12-15',
 '2011-01-19',
 '2011-02-16',
 '2011-03-16',
 '2011-04-20',
 '2011-05-18',
 '2011-06-15',
 '2011-07-20',
 '2011-08-17',
 '2011-09-21',
 '2011-10-19',
 '2011-11-16',
 '2011-12-21',
 '2012-01-18',
 '2012-02-15',
 '2012-03-21',
 '2012-04-18',
 '2012-05-16',
 '2012-06-20',
 '2012-07-18',
 '2012-08-15',
 '2012-09-19',
 '2012-10-17',
 '2012-11-21',
 '2012-12-19',
 '2013-01-16',
 '2013-02-20',
 '2013-03-20',
 '2013-04-17',
 '2013-05-15',
 '2013-06-19',
 '2013-07-17',
 '2013-08-22',
 '2013-09-18',
 '2013-10-16',
 '2013-11-20',
 '2013-12-18',
 '2014-01-15',
 '2014-02-19',
 '2014-03-19',
 '2014-04-16',
 '2014-05-21',
 '2014-06-18',
 '2014-07-16',
 '2014-08-20',
 '2014-09-17',
 '2014-10-15',
 '2014-11-19',
 '2014-12-17',
 '2015-01-21',
 '2015-02-24',
 '2015-03-18',
 '2015-04-15',
 '2015-05-20',
 '2015-06-17',
 '2015-07-15',
 '2015-08-19',
 '2015-09-16',
 '2015-10-21',
 '2015-11-18',
 '2015-12-16',
 '2016-01-20',
 '2016-02-17',
 '2016-03-16',
 '2016-04-20',
 '2016-05-18',
 '2016-06-15',
 '2016-07-20',
 '2016-08-17',
 '2016-09-21',
 '2016-10-19',
 '2016-11-16',
 '2016-12-21',
 '2017-01-18',
 '2017-02-15',
 '2017-03-15',
 '2017-04-19',
 '2017-05-17',
 '2017-06-21',
 '2017-07-19',
 '2017-08-16',
 '2017-09-20',
 '2017-10-18',
 '2017-11-15',
 '2017-12-20',
 '2018-01-17',
 '2018-02-21',
 '2018-03-21',
 '2018-04-18',
 '2018-05-16',
 '2018-06-20',
 '2018-07-18',
 '2018-08-15',
 '2018-09-19',
 '2018-10-17',
 '2018-11-21',
 '2018-12-19',
 '2019-01-16',
 '2019-02-20',
 '2019-03-20',
 '2019-04-17',
 '2019-05-15',
 '2019-06-19',
 '2019-07-17',
 '2019-08-21',
 '2019-09-18',
 '2019-10-16',
 '2019-11-20',
 '2019-12-18',
 '2020-01-15',
 '2020-02-19',
 '2020-03-18',
 '2020-04-15',
 '2020-05-20',
 '2020-06-17',
 '2020-07-15',
 '2020-08-19',
 '2020-09-16',
 '2020-10-21',
 '2020-11-18',
 '2020-12-16',
 '2021-01-20',
 '2021-02-17',
 '2021-03-17',
 '2021-04-21',
 '2021-05-19',
 '2021-06-16',
 '2021-07-21',
 '2021-08-18',
 '2021-09-15',
 '2021-10-20',
 '2021-11-17',
 '2021-12-15',
 '2022-01-19',
 '2022-02-16',
 '2022-03-16',
 '2022-04-20',
 '2022-05-18',
 '2022-06-15',
 '2022-07-20',
 '2022-08-17']

確定好結算日期以後，再跑一次找出轉倉日的程式碼

In [555]:
switch_date = []
for d in settlement_date:
    try:
        s = trading_day[trading_day['交易日'] == d].index
        s = s - 3
        switch = trading_day.iloc[s].iloc[0]['交易日']
        switch_date.append(switch)
    except:
        print('settlement_date', d, 'is not in the trading_day')

In [556]:
switch_date

['1998-09-11',
 '1998-10-17',
 '1998-11-13',
 '1998-12-11',
 '1999-01-16',
 '1999-02-09',
 '1999-03-12',
 '1999-04-17',
 '1999-05-15',
 '1999-06-11',
 '1999-07-17',
 '1999-08-13',
 '1999-09-10',
 '1999-10-16',
 '1999-11-11',
 '1999-12-10',
 '2000-01-15',
 '2000-02-11',
 '2000-03-10',
 '2000-04-15',
 '2000-05-12',
 '2000-06-17',
 '2000-07-15',
 '2000-08-11',
 '2000-09-16',
 '2000-10-13',
 '2000-11-10',
 '2000-12-16',
 '2001-01-12',
 '2001-02-16',
 '2001-03-16',
 '2001-04-13',
 '2001-05-11',
 '2001-06-15',
 '2001-07-13',
 '2001-08-10',
 '2001-09-11',
 '2001-10-12',
 '2001-11-16',
 '2001-12-14',
 '2002-01-11',
 '2002-02-06',
 '2002-03-15',
 '2002-04-12',
 '2002-05-10',
 '2002-06-14',
 '2002-07-12',
 '2002-08-16',
 '2002-09-13',
 '2002-10-11',
 '2002-11-15',
 '2002-12-13',
 '2003-01-10',
 '2003-02-14',
 '2003-03-14',
 '2003-04-11',
 '2003-05-16',
 '2003-06-13',
 '2003-07-11',
 '2003-08-15',
 '2003-09-12',
 '2003-10-09',
 '2003-11-14',
 '2003-12-12',
 '2004-01-14',
 '2004-02-13',
 '2004-03-12',
 '2004-04-16',
 '2004-05-14',
 '2004-06-11',
 '2004-07-16',
 '2004-08-13',
 '2004-09-10',
 '2004-10-15',
 '2004-11-12',
 '2004-12-10',
 '2005-01-14',
 '2005-02-03',
 '2005-03-11',
 '2005-04-15',
 '2005-05-13',
 '2005-06-10',
 '2005-07-14',
 '2005-08-12',
 '2005-09-16',
 '2005-10-14',
 '2005-11-11',
 '2005-12-16',
 '2006-01-13',
 '2006-02-10',
 '2006-03-10',
 '2006-04-14',
 '2006-05-12',
 '2006-06-16',
 '2006-07-14',
 '2006-08-11',
 '2006-09-15',
 '2006-10-14',
 '2006-11-10',
 '2006-12-15',
 '2007-01-12',
 '2007-02-12',
 '2007-03-16',
 '2007-04-14',
 '2007-05-11',
 '2007-06-13',
 '2007-07-13',
 '2007-08-10',
 '2007-09-13',
 '2007-10-12',
 '2007-11-16',
 '2007-12-14',
 '2008-01-11',
 '2008-02-15',
 '2008-03-14',
 '2008-04-11',
 '2008-05-16',
 '2008-06-13',
 '2008-07-11',
 '2008-08-15',
 '2008-09-12',
 '2008-10-09',
 '2008-11-14',
 '2008-12-12',
 '2009-01-17',
 '2009-02-13',
 '2009-03-13',
 '2009-04-10',
 '2009-05-15',
 '2009-06-12',
 '2009-07-10',
 '2009-08-14',
 '2009-09-11',
 '2009-10-16',
 '2009-11-13',
 '2009-12-11',
 '2010-01-15',
 '2010-02-08',
 '2010-03-12',
 '2010-04-16',
 '2010-05-14',
 '2010-06-11',
 '2010-07-16',
 '2010-08-13',
 '2010-09-10',
 '2010-10-15',
 '2010-11-12',
 '2010-12-10',
 '2011-01-14',
 '2011-02-11',
 '2011-03-11',
 '2011-04-15',
 '2011-05-13',
 '2011-06-10',
 '2011-07-15',
 '2011-08-12',
 '2011-09-16',
 '2011-10-14',
 '2011-11-11',
 '2011-12-16',
 '2012-01-13',
 '2012-02-10',
 '2012-03-16',
 '2012-04-13',
 '2012-05-11',
 '2012-06-15',
 '2012-07-13',
 '2012-08-10',
 '2012-09-14',
 '2012-10-12',
 '2012-11-16',
 '2012-12-14',
 '2013-01-11',
 '2013-02-06',
 '2013-03-15',
 '2013-04-12',
 '2013-05-10',
 '2013-06-14',
 '2013-07-12',
 '2013-08-16',
 '2013-09-14',
 '2013-10-11',
 '2013-11-15',
 '2013-12-13',
 '2014-01-10',
 '2014-02-14',
 '2014-03-14',
 '2014-04-11',
 '2014-05-16',
 '2014-06-13',
 '2014-07-11',
 '2014-08-15',
 '2014-09-12',
 '2014-10-09',
 '2014-11-14',
 '2014-12-12',
 '2015-01-16',
 '2015-02-11',
 '2015-03-13',
 '2015-04-10',
 '2015-05-15',
 '2015-06-12',
 '2015-07-09',
 '2015-08-14',
 '2015-09-11',
 '2015-10-16',
 '2015-11-13',
 '2015-12-11',
 '2016-01-15',
 '2016-02-03',
 '2016-03-11',
 '2016-04-15',
 '2016-05-13',
 '2016-06-08',
 '2016-07-15',
 '2016-08-12',
 '2016-09-14',
 '2016-10-14',
 '2016-11-11',
 '2016-12-16',
 '2017-01-13',
 '2017-02-10',
 '2017-03-10',
 '2017-04-14',
 '2017-05-12',
 '2017-06-16',
 '2017-07-14',
 '2017-08-11',
 '2017-09-15',
 '2017-10-13',
 '2017-11-10',
 '2017-12-15',
 '2018-01-12',
 '2018-02-08',
 '2018-03-16',
 '2018-04-13',
 '2018-05-11',
 '2018-06-14',
 '2018-07-13',
 '2018-08-10',
 '2018-09-14',
 '2018-10-12',
 '2018-11-16',
 '2018-12-14',
 '2019-01-11',
 '2019-02-15',
 '2019-03-15',
 '2019-04-12',
 '2019-05-10',
 '2019-06-14',
 '2019-07-12',
 '2019-08-16',
 '2019-09-12',
 '2019-10-09',
 '2019-11-15',
 '2019-12-13',
 '2020-01-10',
 '2020-02-14',
 '2020-03-13',
 '2020-04-10',
 '2020-05-15',
 '2020-06-12',
 '2020-07-10',
 '2020-08-14',
 '2020-09-11',
 '2020-10-16',
 '2020-11-13',
 '2020-12-11',
 '2021-01-15',
 '2021-02-03',
 '2021-03-12',
 '2021-04-16',
 '2021-05-14',
 '2021-06-10',
 '2021-07-16',
 '2021-08-13',
 '2021-09-10',
 '2021-10-15',
 '2021-11-12',
 '2021-12-10',
 '2022-01-14',
 '2022-02-11',
 '2022-03-11',
 '2022-04-15',
 '2022-05-13',
 '2022-06-10',
 '2022-07-15',
 '2022-08-12']

確定結算日、轉倉日都是交易日之後，就可以依照trading_day的交易日清單，一個一個比對是否為結算日、轉倉日，然後再依據不同的情況抓出近月、次月的收盤價並計算轉倉利益  
以下這段程式包含幾個重點:  

1.非轉倉日時的轉倉利益皆為0  
2.遇到轉倉日時，當天的收盤價需改成次月期貨的收盤價  
3.轉倉日比結算日提前三個交易日，所以在這三個交易日中我們都要抓次月的開盤、收盤價(因為我們轉倉了但是期交所當月的合約還沒到期)，也就是底下程式碼 i = 1 的情況   
4.在當月的合約到期過後，代表轉倉、結算都已經完畢，此時要回到正常情況(i = 0)，也就是抓當月的開盤、收盤價

In [557]:
final_data = []
last_close = 0 #用來暫時儲存前一日收盤價，計算轉倉利益
for i in range(len(trading_day)):
    date = trading_day.iloc[i]['交易日']
    if i == 1:#若我們已經先自行轉倉但期交所還沒結算當月期貨，則必須抓每個交易日的第二筆期貨價格資料
        df = day_data[day_data['日期'] == date]
        switch_gain = 0
        list = [df.iloc[1]['日期'], df.iloc[1]['開盤價'], df.iloc[1]['收盤價'], switch_gain]
        final_data.append(list)
        last_close = df.iloc[1]['收盤價']
        #如果剛好該日是結算日，則明天開始就要改回抓那天的第一筆期貨資料了，因為結算後前一天的次月就會變成當月
        if date in settlement_date:
            i = 0
        else:
            continue

    else:
        if not date in switch_date:#若不是轉倉日，則抓此交易日當月的期貨價格
            df = day_data[day_data['日期'] == date]
            switch_gain = 0
            list = [df.iloc[0]['日期'], df.iloc[0]['開盤價'], df.iloc[0]['收盤價'], switch_gain]
            final_data.append(list)
            last_close = df.iloc[0]['收盤價']
        #若遇到轉倉日，則收盤時需抓當日次月的收盤價，且往後三個交易日都需抓該日的第二筆可供交易的期貨價格(因為已經轉到次月的了)
        else:
            df = day_data[day_data['日期'] == date]
            switch_gain = df.iloc[1]['收盤價'] - last_close#以買方角度，計算今天收盤比前一天收盤多多少轉倉利益
            list = [df.iloc[0]['日期'], df.iloc[0]['開盤價'], df.iloc[1]['收盤價'], switch_gain]
            final_data.append(list)
            last_close = df.iloc[1]['收盤價']
            i = 1

In [546]:
final_df = pd.DataFrame(final_data, columns = ['日期', '開盤價', '收盤價', '轉倉利益'])

底下的這個final_df時間序列就是最終的結果

In [562]:
final_df[final_df['轉倉利益'] != 0]

              日期    開盤價    收盤價  轉倉利益
18    1998-09-11   6680   6684   -46
44    1998-10-17   6950   6875   115
65    1998-11-13   6850   6908   198
86    1998-12-11   7110   7051  -135
110   1999-01-16   6599   6565   -35
...          ...    ...    ...   ...
5889  2022-04-15  17102  16947  -351
5908  2022-05-13  15777  15810   178
5927  2022-06-10  16380  16035  -547
5952  2022-07-15  14422  14325   -64
5972  2022-08-12  15229  15217    34

[287 rows x 4 columns]

In [563]:
final_df

              日期    開盤價    收盤價  轉倉利益
0     1998-08-20   7300   7274     0
1     1998-08-21   6981   7430     0
2     1998-08-24   7172   6955     0
3     1998-08-25   6938   6949     0
4     1998-08-26   6990   6790     0
...          ...    ...    ...   ...
5988  2022-09-05  14590  14611     0
5989  2022-09-06  14720  14634     0
5990  2022-09-07  14445  14359     0
5991  2022-09-08  14459  14548     0
5992  2022-09-12  14775  14794     0

[5993 rows x 4 columns]

最後匯出成CSV檔

In [564]:
final_df.to_csv('final_csv')